# 01 Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02 Importing Data

In [2]:
# Set path
path = r'C:\Users\Marce\careerfoundry\Instacart Basket Analysis'

In [3]:
# Import df_ords_prior
df_ords_prior=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'))
df_ords=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))

In [4]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords.shape

(3421083, 8)

In [7]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator=True)

In [9]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [10]:
df_merged_large.info

<bound method DataFrame.info of           Unnamed: 0  order_id  user_id eval_set  order_number  order_dow  \
0                  0   2539329        1    prior             1          2
1                  0   2539329        1    prior             1          2
2                  0   2539329        1    prior             1          2
3                  0   2539329        1    prior             1          2
4                  0   2539329        1    prior             1          2
...              ...       ...      ...      ...           ...        ...
32434484     3421081   2977660   206209    prior            13          1
32434485     3421081   2977660   206209    prior            13          1
32434486     3421081   2977660   206209    prior            13          1
32434487     3421081   2977660   206209    prior            13          1
32434488     3421081   2977660   206209    prior            13          1

          order_hour_of_day  days_since_prior_order  product_id  \
0                         8                     NaN         196
1                         8                     NaN       14084
2                         8                     NaN       12427
3                         8                     NaN       26088
4                         8                     NaN       26405
...                     ...                     ...         ...
32434484                 12                     7.0       14197
32434485                 12                     7.0       38730
32434486                 12                     7.0       31477
32434487                 12                     7.0        6567
32434488                 12                     7.0       22920

          add_to_cart_order  reordered _merge
0                         1          0   both
1                         2          0   both
2                         3          0   both
3                         4          0   both
4                         5          0   both
...                     ...        ...    ...
32434484                  5          1   both
32434485                  6          0   both
32434486                  7          0   both
32434487                  8          0   both
32434488                  9          0   both

[32434489 rows x 12 columns]>

In [11]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))