# 01. Importing Libraries

In [1]:
# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [3]:
# Import df_ords_prior (order_products_pior.csv)

In [4]:
path = r'C:\Users\Marce\careerfoundry\Instacart Basket Analysis'

In [5]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'))

In [6]:
df_ords_prior=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'))

In [7]:
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [ ]:
##df_merged = df.merge(df_ords_prior, on = ['customer_id', 'month'], indicator = True)