# 01 Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02 Importing Data

In [2]:
# Set path
path = r'C:\Users\Marce\careerfoundry\Instacart Basket Analysis'

In [3]:
# Import ords_prods_merged
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_newcolumns.pkl'))

In [4]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

#### The difference between the whole dataframe and the subset is a more accurate mean and now we have all department_id.

In [5]:
ords_prods_merge["max_order"] = ords_prods_merge.groupby(["user_id"])["order_number"].transform(np.max)

In [6]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [7]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [8]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [9]:
ords_prods_merge.groupby("loyalty_flag").agg({"prices":["mean","std","count","mad","var"]})

                     prices
                       mean         std     count        mad            var
loyalty_flag
Loyal customer    10.386336  328.017787  10284093   6.766253  107595.668605
New customer      13.294670  597.560299   6243990  11.357610  357078.310697
Regular customer  12.495717  539.720919  15876776   9.988657  291298.670015

#### Excluded min,max,median -> not meaningful /// don't know at this point how meaningful mad,var are but still included

In [10]:
ords_prods_merge['mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [11]:
ords_prods_merge.loc[ords_prods_merge["mean_prices"] >= 10, "spending_flag"] = "High spender"

In [12]:
ords_prods_merge.loc[ords_prods_merge["mean_prices"] < 10, "spending_flag"] = "Low spender"

In [13]:
ords_prods_merge["spending_flag"].value_counts(dropna = False)

Low spender     31770742
High spender      634117
Name: spending_flag, dtype: int64

In [14]:
ords_prods_merge["spending_flag"].head(100)

0      Low spender
1      Low spender
2      Low spender
3      Low spender
4      Low spender
          ...
95    High spender
96     Low spender
97     Low spender
98     Low spender
99     Low spender
Name: spending_flag, Length: 100, dtype: object

In [15]:
ords_prods_merge['median_days'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [16]:
ords_prods_merge.loc[ords_prods_merge["median_days"] > 20, "freq_cust"] = "Non-frequent customer"

In [17]:
ords_prods_merge.loc[(ords_prods_merge["median_days"] <= 20) & (ords_prods_merge["median_days"] > 10), "freq_cust"] = "Regular customer"

In [18]:
ords_prods_merge.loc[ords_prods_merge["median_days"] <= 10, "freq_cust"] = "Frequent customer"

In [19]:
ords_prods_merge["freq_cust"].head(60)

0     Non-frequent customer
1     Non-frequent customer
2     Non-frequent customer
3     Non-frequent customer
4     Non-frequent customer
5     Non-frequent customer
6     Non-frequent customer
7     Non-frequent customer
8     Non-frequent customer
9     Non-frequent customer
10        Frequent customer
11        Frequent customer
12        Frequent customer
13        Frequent customer
14        Frequent customer
15        Frequent customer
16        Frequent customer
17        Frequent customer
18        Frequent customer
19        Frequent customer
20        Frequent customer
21        Frequent customer
22        Frequent customer
23        Frequent customer
24        Frequent customer
25        Frequent customer
26        Frequent customer
27        Frequent customer
28        Frequent customer
29        Frequent customer
30        Frequent customer
31        Frequent customer
32        Frequent customer
33        Frequent customer
34        Frequent customer
35        Frequent customer
36        Frequent customer
37        Frequent customer
38        Frequent customer
39        Frequent customer
40        Frequent customer
41        Frequent customer
42        Frequent customer
43        Frequent customer
44        Frequent customer
45        Frequent customer
46        Frequent customer
47        Frequent customer
48        Frequent customer
49        Frequent customer
50        Frequent customer
51        Frequent customer
52        Frequent customer
53        Frequent customer
54        Frequent customer
55        Frequent customer
56    Non-frequent customer
57    Non-frequent customer
58         Regular customer
59         Regular customer
Name: freq_cust, dtype: object

# Export dataframe to pickle

In [20]:
ords_prods_merge.to_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'ords_prods_flags.pkl' ))